:root {
    --primary-100: #3498DB;
    --primary-200: #007cbd;
    --primary-300: #004079;
    --accent-100: #E74C3C;
    --accent-200: #ffe6c7;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #2C3E50;
    --bg-200: #3d4f61;
    --bg-300: #57687c;
}


/* Background colors */
body {
    background-color: var(--bg-100);
    color: var(--text-100);
    font-family: Arial, sans-serif;
}

.entry {
    background-color: var(--bg-200);
    border: 1px solid var(--bg-300);
    color: var(--text-200);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* Buttons */
button {
    background-color: var(--primary-100);
    color: var(--text-100);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button.edit-btn {
    background-color: var(--primary-200);
}

button.delete-btn {
    background-color: var(--accent-100);
}

button:hover {
    background-color: var(--primary-300);
}

button.delete-btn:hover {
    background-color: var(--accent-200);
}

/* Form styling */
form {
    background-color: var(--bg-200);
    border: 1px solid var(--bg-300);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="text"], textarea {
    background-color: var(--bg-100);
    color: var(--text-100);
    border: 1px solid var(--bg-300);
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Entry Titles */
.entry-title {
    font-weight: bold;
    color: var(--primary-100);
}

.entry-date {
    color: var(--text-200);
}

/* Adjust the container for buttons */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
